.app__home-container {
    margin-top: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1px;
    position: relative;
    @media screen and (max-width: 1200px) {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
      }
      @media screen and (max-width: 600px) {
          display: grid;
          grid-template-columns: 1fr 1fr;
      }
  }
.app_blog-img {
    display: flex;
    img{
        width: 100%;
    }
}
  
 
 