.app__home {
    width: 600px;
    height: 600px;
    background: red;
  }
  
//   @media screen and (max-width: 1200px) {
//     .homeContainer {
//       display: grid;
//       grid-template-columns: 1fr 1fr 1fr;
//     }
//   }
//   @media screen and (max-width: 600px) {
//     .homeContainer {
//       display: grid;
//       grid-template-columns: 1fr 1fr;
//     }
//   }