.app__header-container {
    background-color: var(--bgPrimary);
    color: var(--fontPrimary);
    padding: 0.5em 1.5em;
    font-size: 2em;
    font-weight: 400;
    font-family: "DM Serif Display", serif;
    border: 1px solid transparent;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-top: 3em;
  }